.blur {
    width: inherit;
    height: inherit;
    backdrop-filter: blur(5px);
    overflow-y: scroll;    
}
header {
    display: flex;
    width: 100%;
    position: sticky;
    background: antiquewhite;
    top:0;
    justify-content: center;
    /* z-index: 1; */
}
.backIcon {
    width: 3vw;
    height: 3vw;
    margin: 1vw 1vw;
}
article{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
section {
    width: 50%;
}
.bookItemContainer {
    display: flex;
    width: 40vw;
    height: 20vh;
    margin: 5vw 5vw;
    flex-direction: row;
    background-color: aliceblue;
}

.thumbnail_container {
    width: 12vw;
    height: 23vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.bookImg {
    filter: drop-shadow(2px 4px 6px black);
}