<div class="background">
    <div class="blur">
        <header>
            <img title="검색 결과를 더 찾으시겠어요?" class="headerIcon moreSearch" (click)="onMoreSearch()" src="..\assets\search_icon.png"/>
            <div class="dropDownContainer">
                <img class="headerIcon" (click)="onMenuClick()" src="..\assets\menu_icon.png"/>
                <div #menuField id="menuField" class="menuContent" (click)="onBackPress()">
                    <p>HOME</p>
                </div>
            </div>
        </header>
        <section>
            <article *ngFor="let book of bookData; index as i; let isLast = last;">
                <ng-container *ngTemplateOutlet="bookItem; context: {searchBookItem: book}"></ng-container>
            </article>
            <article class="noResult" *ngIf="bookData.length === 0">
                <div class="noResultTxt">찾으려는 책이 없어요.<br> 홈에서 다시 검색하세요.</div>
            </article>
        </section>
    </div>
</div>


<ng-template #bookItem let-searchBookItem="searchBookItem" let-index="index">
    <div class="bookItemContainer" *ngIf="isLoad" (click)="goToBookLink(searchBookItem.url)">
        <div class="thumbnail_container">
            <img class="bookImg" [src]= "searchBookItem.thumbnail"/>
        </div>
        <div class="bookInfoContainer">
            <div class="bookTitle">{{searchBookItem.title}}</div>
            <div class="bookExplanation">저자: {{searchBookItem.authors}}</div>
            <div class="bookExplanation" *ngIf="searchBookItem.translators !== ''">역자: {{searchBookItem.translators}}</div>
            <div class="bookExplanation">출판사: {{searchBookItem.publisher}}</div>
            <div class="bookExplanation">출간일: {{searchBookItem.datetime}}</div>
            <div class="bookExplanation">정가: {{searchBookItem.price}}원</div> 
            <div class="bookExplanation" *ngIf="searchBookItem.sale_price !== -1">세일가: {{searchBookItem.sale_price}}원</div> 
            <div class="bookContents">{{searchBookItem.contents}}</div> 
        </div>
    </div>
</ng-template>