<div class="background">
    <div class="blur">
        <header>
            <div class="resultInfoContainer">
                <div class="countResult">{{bookData.length}}권이 검색되었습니다!</div>
            </div>
            <div class="iconBox">
                <img title="이전페이지로 가시겠어요?" *ngIf="defaultPage!==1" class="headerIcon moreSearch" (click)="onPrevSearch()" src="..\assets\prev_icon.png"/>
                <img title="다음페이지로 가시겠어요?" *ngIf="!isEnd" class="headerIcon moreSearch" (click)="onNextSearch()" src="..\assets\next_icon.png"/>
            </div>
            <div class="dropDownContainer">
                <img class="headerIcon" (click)="onMenuClick()" src="..\assets\menu_icon.png"/>
                <div #menuField id="menuField" class="menuContent" (click)="onBackPress()">
                    <p>HOME</p>
                </div>
            </div>
        </header>
        <section>
            <article>
                <div class="loading-container" *ngIf="!isLoad">
                    <div class="loading"></div>
                    <div id="loading-text">loading</div>
                </div>
                <ng-container *ngIf="isLoad">
                    <div class="resultBookData" *ngFor="let book of bookData; index as i; let isLast = last;">
                        <ng-container *ngTemplateOutlet="bookItem; context: {searchBookItem: book}"></ng-container>
                    </div>
                </ng-container>
                <div class="noResult" *ngIf="bookData.length === 0 && isLoad">
                    <div class="noResultTxt">찾으려는 책이 없어요.<br> 홈에서 다시 검색하세요.</div>
                </div>
            </article>
        </section>
    </div>
</div>

<ng-template #bookItem let-searchBookItem="searchBookItem" let-index="index">
    <div class="bookItemContainer" (click)="goToBookLink(searchBookItem.url)">
        <div class="thumbnail_container">
            <img class="bookImg" [src]= "searchBookItem.thumbnail"/>
        </div>
        <div class="bookInfoContainer">
            <div class="bookTitle">{{searchBookItem.title}}</div>
            <div class="bookExplanation">저자: {{searchBookItem.authors}}</div>
            <div class="bookExplanation" *ngIf="searchBookItem.translators !== ''">역자: {{searchBookItem.translators}}</div>
            <div class="bookExplanation">출판사: {{searchBookItem.publisher}}</div>
            <div class="bookExplanation">출간일: {{searchBookItem.datetime}}</div>
            <div class="bookExplanation">정가: {{searchBookItem.price}}원</div> 
            <div class="bookExplanation" *ngIf="searchBookItem.sale_price !== -1">세일가: {{searchBookItem.sale_price}}원</div> 
            <div class="bookContents">{{searchBookItem.contents}}</div> 
        </div>
    </div>
</ng-template>