.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../background.jpg) no-repeat fixed center;
  background-size: cover;
}
.searchContainer {
  height: 5vw;
  width: 70%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
}
.focus {
  box-shadow: 0 0 1vw lemonchiffon;
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #909090;
  font-size: 3vw;
}
.searchEditer {
  background-color: transparent;
  outline: none;
  min-width: 1px;
}
