@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.mainBox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.title {
  width: inherit;
  color: #ffffff;
  font-size: 8vw;
  font-family: 'Song Myung', serif;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
}
.searchContainer {
  display: flex;
  height: 5vw;
  width: 70%;
  margin-top: 2vw;
  background-color: white;
  box-sizing: border-box;
  border-radius: 20vw;
}
.searchContainer:focus-within {
  box-shadow: 0 0 7vw rgb(252, 235, 84);
}
[contenteditable="true"]:empty:before {
  display: block;
  height: inherit;
  content: attr(placeholder);
  font-family: 'Song Myung', serif;
  font-size: 3vw;
  color: #909090;
}

[contenteditable="true"] div br {
  display: none;
}  

#inputField {
  display: block;
  height: 5vw;
  width: 100%;
  margin-left: 2vw;
  min-width: 1px;
  font-family: 'Song Myung', serif;
  font-size: 3vw;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  outline: none;
}
.noSelect {
  pointer-events: none;
  white-space: pre;
}
.deleteIcon {
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}
